.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1d232a;
  /*background-image: url("source/back_0.png");*/
  background-size: cover;
  background-position: center center;
  transform: translateZ(0);
  will-change: transform;
  z-index: -999;
}
/* ===== 기본 레이아웃 ===== */
body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    height: 100vh;
}

h2{
    color: #E5E7EB;
}

#sidebar {
    width: 200px;
    background: #1d232a;
    /*border-right: 1px solid #374151;*/
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 5px 0 10px -5px #0009;
    height: 100vh;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar li {
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    color: #E5E7EB;
}

#sidebar li:hover {
    background: #E5E7EB;
    color: #1d232a;
}

#sidebar li.active {
    background: #E5E7EB;
    font-weight: bold;
    color: #1d232a;
}

.hidden {
  display: none;
}

/* ===== 메인영역 ===== */
#main-view {
    flex: 1;
    padding: 0px 20px 20px 20px;
    overflow-y: auto;
    box-sizing: border-box;
}
